html {
	background-image: url(images/paper2.png), url(images/paper-r.png);
	background-repeat: repeat-y, repeat;

}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 750px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	font-family: "Comic Sans", "Comic Sans MS", "ChalkboardSE-Regular", "Caveat Brush", sans-serif;
}

h1 {
	font-size: 4.5em;
	line-height: 1.0;
	padding-top: 0.7em;
	margin-top: -0.25em;
}

h1 a {
	text-decoration: none;
	color: black;
}

header h2 {
	font-size: 2.75em;
	line-height: 1.0;
	margin-top: -1em;
}

header p {
	margin-top: -0.5em;
	font-size: 1.25em;
	line-height: 1.23;
}

.section {
	border-radius: 0.5em;

	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.1em;

	background-color: rgba(255,255,230,0.7);
	position: relative;
}

.assignment {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 125%;
	border: 3px dashed black;
}

.scissors {
	position: absolute;
	right: 60px;
	top: -13px;
	width: 40px;
	height: 24px;
	background: url(images/scissors.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.assignment h2 {
	margin-top: 0em;
}

.section h2 {
	padding-top: 0.5em;
}

a {
	color: #444;
}

h1 strong {
	font-weight: 900;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 0.5em;
}

.social .twitter, .social .facebook {
	height: 30px;
	background-color: #ccdfff;
	border: 3px solid #a5c7ff;
	border-radius: 0.25em;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	transition: 0.2s;
	/*margin-right: 20px;*/
}

.social .twitter:hover, .social .facebook:hover {
	background-color: #a5c7ff;
	border-color: #95b7ef;
	transition: 0.2s;
}

.social img {
	height: 25px;
}

.social a {
	text-decoration: none;
	color: black;
}

footer li {
	display: inline;
}

footer ul {
	text-align: center;
	font-size: 75%;
}

.twitter, .facebook {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialimage, .socialtext {
	margin-right: 1em;
	font-weight: 500;
}

.socialtext {
	margin-top: -2px;
}

.resources {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.resources .resource {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #ccdfff;
	border-radius: 0.25em;
	width: 220px;
	margin-bottom: 0.5em;
	border: 3px solid #a5c7ff;
	transition: 0.2s;
}

.resource:hover {
	border-color: #95b7ef;
	background-color: #a5c7ff;
	transition: 0.2s;
}

.resources a {
	text-decoration: none;
	color: black;
}

.resourceimage {
	height: 75px;
	width: 100px;
	background-color: gray;
	/*margin-right: 1em;*/
	border-radius: 0.25em;
	margin-left: 0px;
	margin-right: auto;
}

.resourceimage img {
	width: 100px;
	height: 75px;
}

.resourcetext {
	width: 100px;
	margin-left: auto;
	margin-right: 0px;
}

.star {
	position: absolute;
	left: -80px;
	top: 15px;
	width: 100px;
	height: 100px;
	background: url(images/star.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.button {
	margin-left: auto;
	margin-right: auto;
	color: black;
	width: 450px;
	border-radius: 0.25em;
	border: 3px solid black;
	height: 70px;
	background-color: white;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: rgba(255,255,230,1.0);*/

	/*background-color: #ccdfff;*/
	/*border: 3px solid #a5c7ff;*/
	
	background-color: black;
	color: white;
	font-family: "Comic Sans", "Comic Sans MS", "ChalkboardSE-Regular", "Caveat Brush", sans-serif;

	transition: 0.4s;

}

a {
	text-decoration: none;
}

footer a {
	text-decoration: underline;
}



.button:hover {
	/*background-color: #91ff87;*/
	background-color: #077000;
	border-color: #088400;
	transition: 0.4s;
}

@media only screen and (max-device-width: 640px) {
	body {
		width: 80%;
	}

	.button {
		height: 75px;
		width: 384px;
		font-size:: 75%;
	}

	.social .twitter, .social .facebook {
		height: 50px;
	}

	h1 {
		font-size: 2.75em;
	}

	header h2 {
		font-size: 1.75em;
	}
}